.dashboard-container{
    width: 100%;
    height: calc(100vh - 102px);
}

.dashboard-sidebar{
    overflow: auto;
    display: inline-block;
    vertical-align: top;
    margin: 10px 20px 0px 0px;
    padding: 10px 20px;
    width: 250px;
    height: calc(100% - 30px);
    border-top-right-radius: 5px;
    background-color: rgb(229, 137, 137);
}